# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/notification_app_fe/node_modules
/notification_app_fe/.pnp


# testing
/notification_app_fe/coverage

# production
/notification_app_fe/coverage
/build

